{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}
{% load url from future %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
		<a href="../../">{% trans 'Publications' %}</a> &rsaquo;
		<a href="../">{% trans 'Publications' %}</a> &rsaquo;
		{% trans 'Import BibTex' %}
	</div>
{% endblock %}

{% block content %}
	<div id="content-main">
		<form method="post">
			{% csrf_token %}
      <div>
				{% if form.errors %}
				<p class="errornote" style="float:none;">{% trans 'Please correct the errors below.' %}</p>
				{% endif %}

				<fieldset class="module aligned">
          {% for field in form %}
            {% if field.errors %}
              <div class="form-row errors">
                <ul class="errorlist"><li>{{ field.errors }}</li></ul>
            {% else %}
              <div class="form-row">
  					{% endif %}
						<div>
              {{ field.label_tag }}
              {{ field }}
              <p class="help">{{ field.help_text }}</p>
						</div>
					</div>
          {% endfor %}
				</fieldset>

				<ul class="submit-row">
					<li class="submit-button-container"><input type="submit" value="{% trans 'Import' %}" class="default" name="_save" /></li>
				</ul><br clear="all" />
      </div>
		</form>
	</div>

{% endblock %}
